.title{
	padding:0px;
	color: #FAFA33; 
	background-color: black;
	font-size:250%; 
	font-family:verdana;
	margin:-8px -8px 0px;
	padding-left: 15px;
	padding-bottom: 8px;
}

.nav{
	float: left;
	margin-left: -20px;
	width: 130px;
	a:link {color: green; border-color: white}
	a:visited {border-color: green; color: white;}
	a:hover {background-color: green; color: yellow; border-color: yellow}
	
	a{
	border-style:inset;
	padding: 2px 8px 2px 8px;
	}

	li{
	margin-bottom: 15px;
	width: 90px;
	text-align: center;
	}

	ul{
		list-style-image: url('../tiny.png');
		margin-left:10px;
	}
}