.title{
	padding:0px;
	color: #FAFA33; 
	background-color: black;
	font-size:250%; 
	font-family:verdana;
	margin:-8px -8px 0px;
	padding-left: 15px;
}

.nav{
	float: left;
	margin-left: -20px;
	width: 120px;

	li{
	border-style:inset;
	margin-bottom:5px;
	width: 90px;
	text-align: center;

	}

}