.title{
	padding:0px;
	color: black; 
	background-color: white;
	font-size:200%; 
	font-family:verdana;
	padding-left: 350px;
	padding-top: 15px;
	margin-bottom: 0px;
}

.titleImage{
	color: #FAFA33; 
	float: left;
 	height: 8%;
	clear: both;
	background-color: white;
}

.titleDiv{
	background-color: black; 
	margin-left: -8px;
}

.nav{
	float: left;
	clear: both;
	margin-left: -20px;
	width: 130px;
	a:link {color: green; border-color: white}
	a:visited {border-color: green; color: white;}
	a:hover {background-color: green; color: yellow; border-color: yellow}
	
	a{
		border-style:inset;
		padding: 2px 8px 2px 8px;
	}

	li{
		margin-bottom: 15px;
		width: 160px;
		text-align: left;
	}

	ul{
		list-style-image: url('../tiny.png');
		margin-left:10px;
	}
}