a{
	font-family:verdana;
	text-decoration:none;
}

body{
	font-family:verdana;
}

ul{
	list-style-image:url('tiny.png');
}

main{
	margin-left:170px;
	padding-top: 18px;
	padding-left: 5px;
	background-color:white;
}

h2{
	margin-top: 0px;
}


